:host {
  display: block;
  background: #fff;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  padding: 1rem 2rem;
}

svg {
  width: 3.5rem;
  height: 3.5rem;
  background: #ecf0f4;
  padding: 1rem;
  border-radius: 100%;

  color: #1b00ff;
}

.temperature {
  font-size: 3rem;
}

.suns {
  display: flex;
  flex-direction: column;
  justify-self: start;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.sun {
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  background: transparent;
}

.empty {
  justify-self: end;
}
