<div class="dashboard">
  <app-widget>
    <ng-container title>Poland</ng-container>
    <app-weather-widget></app-weather-widget>
  </app-widget>

  <app-widget>
    <ng-container title>Croatia</ng-container>
    <app-weather-widget></app-weather-widget>
  </app-widget>

  <app-widget>
    <ng-container title>Panama</ng-container>
    <app-weather-widget></app-weather-widget>
  </app-widget>

  <app-widget>
    <ng-container title>Peru</ng-container>
    <app-weather-widget></app-weather-widget>
  </app-widget>
</div>
