:host {
  display: block;
  background: #ecf0f4;
  min-height: 100vh;
  padding: 1rem;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.add-new-widget {
  background: transparent;
  border: 1px dashed #000;

  min-height: 10rem;

  > svg {
    width: 3rem;
    height: auto;
  }
}

@media screen and (max-width: 1450px) {
  .dashboard {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
}
