<div class="box">
  <h1>Login</h1>
  <form [formGroup]="loginForm">
    <div class="txt_field">
      <label for="login">Username</label>
      <input id="login" #loginInput type="text" formControlName="login" />
    </div>
    <div class="txt_field">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" />
    </div>
    <button (click)="sendForm()" type="submit">Login</button>

    <div class="forgot">
      <a href="#" class="pass">Forgot Password?</a>
    </div>
    <div class="signup_link">Not a member? <a href="#">Signup</a></div>
  </form>
</div>
