<app-modal cdkTrapFocus cdkTrapFocusAutoCapture>
  <app-modal-header>
    <h2 app-modal-title>Edit weather widget</h2>
  </app-modal-header>

  <app-modal-body>
    <form id="form" [formGroup]="form" (ngSubmit)="update()">
      <div>
        <label for="city">City</label>
        <input app-input id="city" type="text" formControlName="city" autocomplete="off" cdkFocusInitial />
      </div>
    </form>
  </app-modal-body>

  <app-modal-footer>
    <button app-button type="submit" form="form" [disabled]="!form.valid">Update</button>
  </app-modal-footer>
</app-modal>
