<form id="form" app-modal [formGroup]="form" (ngSubmit)="update()" cdkTrapFocus cdkTrapFocusAutoCapture>
  <app-modal-header>
    <h2 app-modal-title>Edit weather widget</h2>
  </app-modal-header>

  <app-modal-body>
    <div>
      <label for="city">City</label>
      <input id="city" type="text" formControlName="city" autocomplete="off" cdkFocusInitial />
    </div>
  </app-modal-body>

  <app-modal-footer>
    <button type="submit" form="form" [disabled]="!form.valid">Update</button>
  </app-modal-footer>
</form>
