:host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: end;

  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin: 0rem -2rem -1rem;
  padding: 1rem 2rem 1rem;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    height: 1px;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
  }
}
