/* You can add global styles to this file, and also import other style files */
@import "./normalize.css";
@import "@angular/cdk/overlay-prebuilt.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

label {
  cursor: pointer;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
